@model IEnumerable<GlobalGrub.Models.CartItem>

@{ ViewData["Title"] = "Your Cart"; }

<h1>Your Cart</h1>

@if (Model.Count() > 0)
{
    var total = 0.0;
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>
                    Product
                </td>
                <td>
                </td>
                <td>
                    Quantity
                </td>
                <td>
                    Price
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                total += (item.Price * item.Quantity);
                <tr>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @if (item.Product.Photo != null)
                        {
                            <img src="~/img/products/@item.Product.Photo" alt="Product Pic" class="thumb" />
                        }
                        else
                        {
                            <img src="~/img/products/placeholder.gif" alt="Product Pic" class="thumb" />

                        }
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @String.Format("{0:c}", item.Price)
                    </td>
                    <td>
                        <a asp-controller="Shop" asp-action="RemoveFromCart" asp-route-id="@item.CartItemId" onclick="return confirmDelete();">
                            Remove
                        </a>
                    </td>
                </tr>
            }
        <tr>
            <td></td>
            <td></td>
            <td><a asp-action="Index" class="btn btn-primary">Keep Shopping</a></td>
            <td>@String.Format("{0:c}", total)</td>
            <td><a asp-action="Checkout" class="btn btn-primary">Checkout</a></td>
        </tr>
        </tbody>
    </table>
}
else
{
    <h2>You need some Food!</h2>
    <a class="btn btn-primary" asp-action="Index">Shop Now</a>
}
