@model IEnumerable<GlobalGrub.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Product</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sortable table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a href="#">Name</a>
            </th>
            <th align="center">
                <a href="#">Price</a>
            </th>
            <th align="center">
                <a href="#">Weight</a>
            </th>
            <th>
                <a href="#">Category</a>
            </th>
            <th class="sorttable_nosort">
            </th>
            <th class="sorttable_nosort"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @if (item.Photo != null)
                {
                    <img src="~/img/products/@item.Photo" alt="Product Photo" class="thumb"/>
                }
                else
                {
                    <img src="~/img/products/placeholder.gif" alt="Placeholder Photo" class="thumb" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
